parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 2
			path: src/Completion/SymbolCandidates.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 2
			path: src/Domain/EnumImplicits.php

		-
			message: '''
				#^Call to method primitive\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 3
			path: src/Domain/EnumImplicits.php

		-
			message: '''
				#^Call to method union\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 1
			path: src/Domain/EnumImplicits.php

		-
			message: '''
				#^Call to deprecated method fromReflection\(\) of class Firehed\\PhpLsp\\Domain\\FunctionInfo\:
				sweep\: source\-context factory$#
			'''
			identifier: staticMethod.deprecated
			count: 1
			path: src/Knowledge/BuiltinBackend.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 4
			path: src/Knowledge/BuiltinBackend.php

		-
			message: '''
				#^Call to method fromReflection\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 4
			path: src/Knowledge/BuiltinBackend.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 2
			path: src/Knowledge/DeclarationSymbolInfoFactory.php

		-
			message: '''
				#^Call to method fromNode\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 6
			path: src/Knowledge/DeclarationSymbolInfoFactory.php

		-
			message: '''
				#^Call to method primitive\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 1
			path: src/Knowledge/DeclarationSymbolInfoFactory.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 9
			path: src/Resolution/ExpressionResolver.php

		-
			message: '''
				#^Call to method fromNode\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 1
			path: src/Resolution/ParameterTyping.php

		-
			message: '''
				#^Call to method union\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 1
			path: src/Resolution/ExpressionResolver.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 5
			path: src/Resolution/MemberAccessDetector.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 1
			path: src/Resolution/Scope.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 3
			path: src/Resolution/SymbolResolver.php

		-
			message: '''
				#^Access to constant on deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: tests/Architecture/OneRoutePerFactTest.php

		-
			message: '''
				#^Call to deprecated method fromNode\(\) of class Firehed\\PhpLsp\\Domain\\FunctionInfo\:
				sweep\: source\-context factory$#
			'''
			identifier: staticMethod.deprecated
			count: 5
			path: tests/Domain/FunctionInfoTest.php

		-
			message: '''
				#^Call to deprecated method fromReflection\(\) of class Firehed\\PhpLsp\\Domain\\FunctionInfo\:
				sweep\: source\-context factory$#
			'''
			identifier: staticMethod.deprecated
			count: 5
			path: tests/Domain/FunctionInfoTest.php

		-
			message: '''
				#^Call to deprecated method fromNode\(\) of class Firehed\\PhpLsp\\Domain\\ParameterInfo\:
				sweep\: source\-context factory$#
			'''
			identifier: staticMethod.deprecated
			count: 8
			path: tests/Domain/ParameterInfoTest.php

		-
			message: '''
				#^Call to deprecated method fromReflection\(\) of class Firehed\\PhpLsp\\Domain\\ParameterInfo\:
				sweep\: source\-context factory$#
			'''
			identifier: staticMethod.deprecated
			count: 13
			path: tests/Domain/ParameterInfoTest.php

		-
			message: '''
				#^Access to constant on deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: tests/Domain/TypeFactoryTest.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 4
			path: tests/Domain/TypeFactoryTest.php

		-
			message: '''
				#^Call to method fromNode\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 25
			path: tests/Domain/TypeFactoryTest.php

		-
			message: '''
				#^Call to method fromReflection\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 9
			path: tests/Domain/TypeFactoryTest.php

		-
			message: '''
				#^Call to method union\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 2
			path: tests/Domain/TypeFactoryTest.php

		-
			message: '''
				#^Call to method className\(\) of deprecated class Firehed\\PhpLsp\\Domain\\TypeFactory\:
				sweep\: source\-context factory; resolution should go through
				TypeSource, construction primitives will migrate elsewhere$#
			'''
			identifier: staticMethod.deprecatedClass
			count: 4
			path: tests/Resolution/ResolvedTypeOnlyTest.php

		-
			message: '''
				#^Fetching deprecated class constant STOP_TRAVERSAL of class PhpParser\\NodeTraverser\:
				Use NodeVisitor\:\:STOP_TRAVERSAL instead\.$#
			'''
			identifier: classConstant.deprecated
			count: 6
			path: tests/Utility/ScopeFinderTest.php

		-
			message: '''
				#^Fetching deprecated class constant STOP_TRAVERSAL of class PhpParser\\NodeTraverser\:
				Use NodeVisitor\:\:STOP_TRAVERSAL instead\.$#
			'''
			identifier: classConstant.deprecated
			count: 1
			path: tests/Utility/ScopeTest.php

		-
			message: '''
				#^Fetching deprecated class constant STOP_TRAVERSAL of class PhpParser\\NodeTraverser\:
				Use NodeVisitor\:\:STOP_TRAVERSAL instead\.$#
			'''
			identifier: classConstant.deprecated
			count: 1
			path: tests/Utility/VariableBindingsTest.php
